@import './base.css';

#app {
  padding: 0 2rem;
  height: 100%;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.overflow {
  color: var(--error);
}

div.alert-holder {
  background-color: rgba(255, 81, 81, 0.1);

  border: 1px rgba(255, 81, 81, 0.5) solid;
  border-radius: 1rem;

  padding: 1rem;
}