@import './base.css';

#app {
  padding: 0 2rem;
  height: 100%;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.overflow {
  color: var(--error);
}

div.alert-holder {
  background-color: rgba(255, 81, 81, 0.1);

  border: 1px rgba(255, 81, 81, 0.5) solid;
  border-radius: 1rem;

  padding: 1rem;
}


/*
//////////////////////
// Authentication Form
//////////////////////
*/

.form-authentication {
  background-color: var(--card-form-background);

  border-radius: 1rem;
  border: var(--card-form-border) 2px solid;

  box-shadow: 10px 10px 15px var(--card-form-shadow);

  padding: 2rem;

  max-width: 25rem;
  width: 100%;
}

.form-authentication > form {
  display: flex;
  flex-direction: column;

  justify-content: center;
}

.form-authentication > form label {
  margin-top: 1rem;
}

.form-authentication > form input[type='submit'] {
  height: 2.5rem;
  margin-top: 1.5rem;
}

.form-authentication-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.form-authentication > hr, .form-authentication > p {
  margin-top: 1rem;
  text-align: center
}

.form-authentication > h1, .form-authentication > p {
  text-align: center;
}

.form-authentication > form .alert-holder-form {
  margin: 1rem 0 0 0;
}

/*
/////////////////
// Labelled Input
/////////////////
*/

.input-container {
  margin-top: 1rem;
  height: 3rem;
}

.input-container > input {
  height: inherit;
  padding: 1rem 0.5rem 0 0.5rem;

  position: relative;

  width: 100%;
  
  background: transparent;
  color: var(--color-text);

  border: var(--card-form-border) 2px solid;
  border-radius: 0.25rem;

  z-index: 2;
}

.input-container > input:focus ~ .input-container-details,
.input-container > input:not(:focus) ~ .input-container-details.not-hide {
  bottom: 2.9rem;
  font-size: 0.8em;
}

.input-container > input:not(:focus) ~ .input-container-details:not(.not-hide) :nth-child(2) {
  opacity: 0;
}

.input-container-details {
  display: flex;
  justify-content: space-between;

  margin: 0 0.5rem 0 0.5rem;

  position: relative;

  z-index: 1;

  transition: bottom ease-out 100ms;
  -o-transition: bottom ease-out 100ms;
  -moz-transition: bottom ease-out 100ms;
  -webkit-transition: bottom ease-out 100ms;

  bottom: 2.2rem;
}

.input-container-details > span {
  transition: opacity ease-out 100ms, font-size ease-out 100ms;
  -o-transition: opacity ease-out 100ms, font-size ease-out 100ms;
  -moz-transition: opacity ease-out 100ms, font-size ease-out 100ms;
  -webkit-transition: opacity ease-out 100ms, font-size ease-out 100ms;

  vertical-align: middle;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}