@import './base.css';

#app {
  padding: 0 2rem;
  height: 100%;

  font-weight: normal;
}

@media screen and (max-width: 275px) {
  :root {
    font-size: 0.75rem;
  }
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

a:hover {
  background-color: hsla(160, 100%, 37%, 0.2);
}

button {
  border: var(--card-form-border) 2px solid;
  background-color: hsla(160, 100%, 37%, 0.2);
  color: var(--color-text);
  transition: 0.4s;
}

button:hover {
  background-color: hsla(160, 100%, 37%, 0.1);
}

button:active {
  background-color: hsla(160, 100%, 37%, 0.3);
}

.overflow {
  color: var(--error);
}

div.alert-holder {
  background-color: rgba(255, 81, 81, 0.1);

  border: 1px rgba(255, 81, 81, 0.5) solid;
  border-radius: 1rem;

  padding: 1rem;
}


/*
//////////////////////
// Authentication Form
//////////////////////
*/

.form-authentication {
  background-color: var(--card-form-background);

  border-radius: 1rem;
  border: var(--card-form-border) 2px solid;

  box-shadow: 10px 10px 15px var(--card-form-shadow);

  padding: 2rem;

  max-width: 25rem;
  width: 100%;
}

.form-authentication > form {
  display: flex;
  flex-direction: column;

  justify-content: center;
}

.form-authentication > form label {
  margin-top: 1rem;
}

.form-authentication > form input[type='submit'] {
  height: 2.5rem;
  margin-top: 1.5rem;
}

.form-authentication-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.form-authentication > hr, .form-authentication > p {
  margin-top: 1rem;
  text-align: center
}

.form-authentication > h1, .form-authentication > p {
  text-align: center;
}

.form-authentication > form .alert-holder-form {
  margin: 1rem 0 0 0;
}


/*
/////////////////
// Labelled Input
/////////////////
*/

.input-container {
  display: flex;

  margin-top: 1rem;
  height: 3rem;
}

.input-container > div {
  width: 100%;
  height: inherit;
}

.input-container > div > input {
  height: inherit;
  padding: 1rem 0.5rem 0 0.5rem;

  position: relative;

  width: inherit;
  
  background: transparent;
  color: var(--color-text);

  border: var(--card-form-border) 2px solid;

  z-index: 2;
}

.input-container > div > input:focus ~ .input-container-details,
.input-container > div > input:not(:focus) ~ .input-container-details.not-hide {
  bottom: 2.9rem;
  font-size: 0.8em;
}

.input-container > div > input:not(:focus) ~ .input-container-details:not(.not-hide) :nth-child(2) {
  opacity: 0;
}

.input-container-details {
  display: flex;
  justify-content: space-between;

  margin: 0 0.5rem 0 0.5rem;

  position: relative;

  z-index: 1;

  transition: bottom ease-out 100ms;
  -o-transition: bottom ease-out 100ms;
  -moz-transition: bottom ease-out 100ms;
  -webkit-transition: bottom ease-out 100ms;

  bottom: 2.2rem;
}

.input-container-details > span {
  transition: opacity ease-out 100ms, font-size ease-out 100ms;
  -o-transition: opacity ease-out 100ms, font-size ease-out 100ms;
  -moz-transition: opacity ease-out 100ms, font-size ease-out 100ms;
  -webkit-transition: opacity ease-out 100ms, font-size ease-out 100ms;

  vertical-align: middle;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.input-from-container-round {
  border-radius: 0.25rem;
}

.input-from-container-round-right {
  border-radius: 0 0.25rem 0.25rem 0;
  border-left: none; 
}

.input-from-container-round-left {
  border-radius: 0.25rem 0 0 0.25rem;
}


/*
/////////////////
// Navigation Bar
/////////////////
*/

.navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 1rem;
  align-items: center;
}

.navigation-bar a {
  padding: 0.5rem;
  border-radius: 1rem;
  white-space: nowrap;
}

.navigation-bar > a {
  font-size: 1.3rem;
  font-weight: bold;
}

.navigation-bar > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
}


@media screen and (max-width: 600px) {
  .navigation-bar {
    flex-direction: column;
    gap: 0.5rem;
  }

  .navigation-bar > div {
    flex-direction: column;
  }
}